
#listit-messages-description {
    padding: 5px;
    background-color: white;
    font:normal x-small verdana, arial, helvetica, sans-serif;
    font-size:larger;
}

/*  Reduce margin between scoreTree and listit-tabbox 
    because there is already a splitter inbetween them */

#scoreTree {
   margin-right: 0px;
}

#listit-tabbox {
   margin-left: 0px;
}

/* More room for the comment and plot contents */
#listit-tabpanels {
    padding: 20px 5px 5px 5px;
}


/* Smaller bin width list menus to save space */
#listit-treemap-size-menulist {
    width: 100px;
}

/* Smaller bin width list menus to save space */
#listit-treemap-color-menulist {
    width: 100px;
}

label.menulist-label {
    margin-right: 2px;
}

menulist.axis-var {
    width: 100px;
}


#listit-bin-width-menulist {
    width: 100px;
}

/* This, unfortunately doesn't work (on OS-X at least). */
#listit-bin-width-menupopup {
    width: 150px;
}


