
html, body, div {
    margin: 0px;
    padding: 0px;
}

body {
    font:small verdana, arial, helvetica, sans-serif;

    background-color: white ;
}

article {
    margin: 10px;
    width: 55em;
    background-color:  white;
}

/* See W3C sample style sheet (http://www.w3.org/TR/REC-CSS2/sample.html) */
h1 {font-size: 2em; margin: .67em 0;}
h2 {font-size: 1.5em; margin: .83em 0;}
h3 {font-size: 1.17em; margin: 1em 0;}
h4 {font-size: 1em; margin: 1.33em 0;}
h5 {font-size: .83em; line-height: 1.17em; margin: 1.67em 0;}
h6 {font-size: .67em; margin: 2.33em 0;}
h1, h2, h3, h4, h5, h6 {font-weight: bolder;}

h1 { 
    color: red;
}
h2 { 
    color: green;
}
h3 { 
    color: blue;
}

h1, h2, h3 { 
    /* color: #48110C; */
    color: #771E10;      /* pueblo red */
    /*color: #336699;*/
    /*color: #113B63;*/
    /*color: maroon;*/
}

a { text-decoration:none; color: #369; }
a:hover { 
    text-decoration: none; 
    border-bottom:1px solid; 
}
a.internal:hover { 
    text-decoration: none; 
    border-bottom:1px dashed; 
}

img.screenshot {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

footer {
    font-size: smaller;
    margin: 10px;
    text-align: center;
    font-style: italic;
    color:#771E10;
}