html {
 height:100%; 
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,iframe {
 margin:0;
 padding:0;
}
table { border-collapse:collapse; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
q:before,q:after { content:''; }
body {
 font:normal x-small verdana, arial, helvetica, sans-serif;
 background-color:white;
 z-index:1;
}
textarea { font: normal small verdana, arial, helvetica, sans-serif; }
h1 { font-size:18px; font-weight: normal; margin: 10px 0 }
h2 { color:#369; font-size: 13px; }
h2 a { text-decoration:none }
h2 a:visited { color:#369 }
h2 a:hover { text-decoration:underline }
h3 { font-size:110%;  }
a img { border:0 none; }
a { text-decoration:none; color: #369; }
